<!doctype html>
<html lang="en">
<head>
  <title>Boggle</title>
  <link rel="stylesheet" href="/static/boggle.css">
</head>

<body>

<main>
  <table class="board">
  <!-- fill in -->
  {% for row in board %}
    <tr>
      {% for letter in row %}
        <td>{{letter}}</td>
      {% endfor %}
    </tr>
  {% endfor %}
  </table>

  <!-- form here -->
  <form action="/api/score-word" method='POST'>
    <p>Enter a word</p>
    <input type="text" name="submit_word">
    <button type="submit">Go</button>
  </form>
</main>

<p class="msg">
  <!-- our JS will put messages here dynamically -->
</p>

<ul id="words">
  <!-- our JS will words here as they score -->
</ul>

<script src="http://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/boggle.js"></script>
</body>
</html>
